 <div class="container" ng-init="loginValidation()"> 		
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form style="font-size:90%;">   
                        	<div>
                        		<div class="col-md-1" style="text-align:left">Bill id: {{data.billid}}</div>
                        		<div style="text-align:center;fond-size:28px"><strong>Tax Invoice</strong></div>
                        	</div>
                        	<table class="table">
                        		<tbody>
                        			<tr>
	                        			<td class="col-md-5" style="text-align:left">TIN: 27271433314V</td>
	                        			<td class="col-md-7" style="text-align:left">Date:{{data.date | date: 'dd/MM/yyyy'}}</td>
	                        		</tr>                        		
	                        		<tr>	                        		
								 		<td class="col-md-5" style="text-align:left" ng-hide="saveandprintflag">
								 		   <b> {{data.name}} </b> 			
								 		</td>
								 		<td class="col-md-7" style="text-align:left">
								 			Tirthankar Agencies, Baramati road Bhigwan. Mobile Number: 8806871008 / 8275791008
								 		</td>
	                        		</tr>
                        		</tbody>
                        	</table>                     	
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>                                        
                                        <th class="col-md-3">Product Name</th>
                                        <th class="col-md-1">MRP</th>
                                        <th class="col-md-1">Price</th>                                       
                                        <th class="col-md-1">quantity</th>
                                        <th class="col-md-1">Free Item</th>                   
                                        <th class="col-md-1">Discount</th>
                                        <th class="col-md-1">Price</th>
                                        <th class="col-md-1">Vat</th>
                                        <th class="col-md-1">Vat Amount</th>
                                        <th class="col-md-1">Final Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="selectedItem in data.selectedItems">                                        
                                        <td>
                                            <input type="text" class="form-control" ng-model="selectedItem.name" readonly/></td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="selectedItem.mrp" readonly/></td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="selectedItem.price | number:2" readonly/></td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="selectedItem.quantity" readonly/></td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="selectedItem.freeItem" readonly/></td>
                                       <td>
                                            <input type="text" class="form-control" ng-model="selectedItem.discountRate | number:2" readonly/></td>                                            
                                        <td>
                                            <input type="text" class="form-control" ng-model="selectedItem.discountAmt | number:2" readonly/></td>                                            
                                        <td>
                                            <input type="text" class="form-control" ng-model="selectedItem.vat | number:2" readonly/></td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="selectedItem.vatamt | number:2" readonly/></td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="selectedItem.pricewithvat| number:2" readonly/></td>  
                                    </tr>
                                    <tr>                                        
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Total Price</td>
                                        <td>{{data.pricewithoutvat | number:2}}</td>
                                        <td></td>
                                        <td>{{data.totalvatamt | number:2}}</td>
                                        <td>{{data.pricewithvat | number:2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered">
	                        	<tr>
	                        		<td class="col-md-10">I/We hereby certify that my /our registration certificate under the Maharashtra Value Added Tax Act 2002 is in force on which the sale of goods specified in this Tax invoice has been effected by me / us & it shall be accounted for in the turnover of sales while filling of return and tax, payable on sale has been or shall be paid.</td>
	                        		<td class="col-md-2" style="text-align:center"><br/><br/>Signature</td>
	                        	</tr>
	                        </table>                                                      
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>