 <div class="container" ng-init="loginValidation()"> 		
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form style="font-size:90%;">                           	
                        	<table class="table">
                        		<tbody>
                        			<tr>
	                        			<td class="col-md-3" style="text-align:left">Bill id : {{data.billid}}</td>
	                        			<td class="col-md-6" ng-hide="saveandprintflag">Merchant Name : <b>{{data.name}}</b></td>
	                        			<td class="col-md-3" style="text-align:right">Date : {{data.date | date: 'dd/MM/yyyy'}}</td>
	                        		</tr> 
                        		</tbody>
                        	</table>                     	
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>                                        
                                       <th class="col-md-4">Product Name</th>
                                        <th class="col-md-1">MRP</th>
                                        <th class="col-md-1">Price</th>                                       
                                        <th class="col-md-1">Quantity</th>
                                        <th class="col-md-1" ng-show="discountedbill">Discount</th>
                                        <th class="col-md-1" ng-show="discountedbill">Discount Amount</th>
                                        <th class="col-md-1">Final Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="selectedItem in data.selectedItems">                                        
                                        <td class="col-md-4">
                                            <input type="text" class="form-control" ng-model="selectedItem.name" readonly/></td>
                                        <td class="col-md-1">
                                           <input type="text" class="form-control" ng-model="selectedItem.mrp" readonly/></td>
                                        <td class="col-md-1">
                                            <input type="text" class="form-control" ng-model="selectedItem.price | number:2" readonly/></td>
                                        <td class="col-md-1">
                                            <input type="text" class="form-control" ng-model="selectedItem.quantity" readonly/></td>                                                                                                                                                        
                                        <td  class="col-md-1" ng-show="discountedbill">
                                            <input type="text" class="form-control" ng-model="selectedItem.discountRate | number:2" readonly/></td>                                            
                                        <td class="col-md-1" ng-show="discountedbill">
                                            <input type="text" class="form-control" ng-model="selectedItem.discountAmt | number:2" readonly/></td>
                                        <td class="col-md-1">
                                            <input type="text" class="form-control" ng-model="selectedItem.pricewithvat| number:2" readonly/></td>  
                                    </tr>
                                    <tr>                                        
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Total Price</td>
                                        <td ng-show="discountedbill"> </td>
                                        <td ng-show="discountedbill">{{data.finaldiscountamt | number:0}}</td>
                                        <td>{{data.finalPrice | number:0}}</td>            
                                    </tr>
                                </tbody>
                            </table>                                                                                 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>