 <div class="container" ng-init="loginValidation()">
 	<form>
 		<div class="row">
 			<div class="col-md-12 col-md-offset-3"> 				
 				<input type="text" ng-model="merchantname" id="merchantname" placeholder="Name of shopkeeper"/> &nbsp;&nbsp;
 				<div class="btn-group">
 					<button type="button" class="btn btn-primary" ng-click="fetchRecord()" value="Search">Search</button>
 				</div>
 			</div> 			 
 		</div>
 		<br>
        <div class="row" ng-show="historyItems.length">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
						<form ng-show="historyItems.length">                        	
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                    	<th>Bill Id</th>                                        
                                        <th>Merchant Name</th>
                                        <th>Date</th>                                       
                                        <th>Discount Amount</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                	<tr ng-repeat="historyItem in historyItems | pagination: curPage * pageSize | limitTo: pageSize">                                		
                                   		<td> <a ng-click="showBillDetail(historyItem.billid)">{{historyItem.billid}}</a></td>
                                		<td>{{historyItem.name}}</td>
                                		<td>{{historyItem.date | date: 'dd/MM/yyyy'}}</td>
                                		<td>{{historyItem.finaldiscountamt | number:0}}/-</td>
                                		<td>{{historyItem.finalPrice| number:0 }}</td>
                                	</tr>                                   
                                </tbody>
                            </table>
                             
   					    <div class="pagination pagination-centered" ng-show="historyItems.length">
							<ul class="pagination-controle pagination">
 								<li>
  									<button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1"> &lt; PREV</button>
 								</li>
 								<li>
 									<span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
 								</li>
 								<li>
 									<button type="button" class="btn btn-primary" ng-disabled="curPage >= historyItems.length/pageSize - 1" 
										 ng-click="curPage = curPage+1">NEXT &gt;</button>
 								</li>
							</ul>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="noRecordFoundFlag">        	
        	<div class="alert alert-danger" style="text-align:center">
	             <strong>No record found for {{merchantname}}</strong>                            
	        </div>
        </div>
     </form>
    </div>