 <div class="container" ng-init="loginValidation()"> 		
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form style="font-size:90%;">   
                        	<div>
                        		<div class="col-md-5" style="text-align:left">Bill id:{{data.billid}}</div>
                        		<div style="font-size: 150%"><strong>Tirthankar Agency</strong></div>
                        	</div>
                        	<table class="table">
                        		<tbody>                        			                        		
	                        		<tr>                      		
								 		<td class="col-md-10" style="text-align:left" ng-hide="saveandprintflag">
								 		    <b>Merchant Name : {{data.name}}</b> 			
								 		</td>
	                        			<td class="col-md-2" style="text-align:left">Date:{{data.date | date: 'dd/MM/yyyy'}}</td>
	                        		</tr>
                        		</tbody>
                        	</table>                     	
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>                                        
                                        <th class="col-md-3">Product Name</th>
                                        <th class="col-md-2">MRP</th>
                                        <th class="col-md-2">Price</th>                                       
                                        <th class="col-md-2">quantity</th>                                        
                                        <th class="col-md-2">Final Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="selectedItem in data.selectedItems">                                        
                                        <td>
                                            <input type="text" class="form-control" ng-model="selectedItem.name" readonly/></td>
                                        <td>
                                           <input type="text" class="form-control" ng-model="selectedItem.mrp" readonly/></td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="selectedItem.price | number:2" readonly/></td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="selectedItem.quantity" readonly/></td>                                        
                                        <td>
                                            <input type="text" class="form-control" ng-model="selectedItem.pricewithvat| number:2" readonly/></td>  
                                    </tr>
                                    <tr>                                        
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Total Price</td>
                                        <td>{{data.pricewithvat | number:2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered">
	                        	<tr>
	                        		<td class="col-md-10">Tirthankar Agencies, Baramati road Bhigwan. Mobile Number: 8806871008 / 8275791008</td>
	                        		<td class="col-md-2" style="text-align:center"><br/>Signature</td>
	                        	</tr>
	                        </table>                                                      
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>