 <div class="container"> 		
        <div class="row data-ng-init="loginValidation()">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 style="text-align:center">Tirthankar Agency</h2> 
                        <form style="font-size:90%;">
                        	<div>                       		                        	
                        	<table class="table">
                        		<tbody>                        			
                        			<tr>
                        				<td style="text-align:left">Bill id:{{billid}}</td>
	                        			<td class="col-md-6" style="text-align:left" ng-show="saveandprintflag">
								 		    <input type="text" ng-model="merchantname" id="merchantname" placeholder="Merchant Name">
								 		</td>
								 		<td class="col-md-6" style="text-align:left" ng-hide="saveandprintflag">
								 		    <b>Merchant Name : {{merchantname}}</b> 			
								 		</td>
	                        			<td class="col-md-2" style="text-align:left">Date:{{billingDate | date: 'dd/MM/yyyy'}}</td>
	                        		</tr>
                        		</tbody>
                        	</table>                        	
                            <table class="table table-bordered">
                                <thead>
                                    <tr>                                        
                                        <th class="col-md-3">Product Name</th>
                                        <th class="col-md-2">MRP</th>
                                        <th class="col-md-2">Price</th>                                       
                                        <th class="col-md-2">Quantity</th>                                        
                                        <th class="col-md-2">Final Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="selectedItem in selectedItems">                                        
                                        <td>{{selectedItem.name}}</td>
                                        <td>{{selectedItem.mrp}}</td>
                                        <td>{{selectedItem.price | number:2}}</td>
                                        <td>{{selectedItem.quantity}}</td>                                        
                                        <td>{{selectedItem.pricewithvat| number:2}}</td>  
                                    </tr>
                                    <tr ng-show="saveandprintflag">                                        
                                        <td>
                                            <select class="form-control" ng-model="newItem" ng-options="x.name for x in items"/></td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="newItem.mrp | number:2" readonly/></td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="newItem.newprice" ng-init="newItem.newprice='0'"/></td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="newItem.quantity" ng-init="newItem.quantity='0'" /></td>                                        
                                        <td>
                                            {{ (newItem.newprice * newItem.quantity) | number:2}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Total Price</td>
                                        <td>{{totalPriceWithvat | number:2}}</td>                                         
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group col-md-12" ng-show="saveflag">
                            	<div class="col-md-6">	                            	                            	
	                            	<input type="button" class="btn btn-danger addnew" ng-click="calculateTotal()" value="Calculate Total" ng-hide="calculateTotalflag">                                
	                                <input type="submit" class="btn btn-info addnew" ng-click="addNew()" value="Add New" ng-hide="calculateTotalflag">
	                            </div>                          
	                        </div>
	                        <table ng-show="calculateTotalflag" class="table">
	                        	<tr>
	                        		<td class="col-md-10">Tirthankar Agencies, Baramati road Bhigwan. Mobile Number: 8806871008 / 8275791008</td>
	                        		<td class="col-md-2" style="text-align:center"><br/>Signature</td>
	                        	</tr>	
	                        </table>              				                                          
                        </form>
                    </div>
                </div>
            </div>
        </div>     	        
    </div>